@model OnlineShop.Web.ViewModels.Products.ProductInputViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Sixteen Clothing Products</title>

    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-sixteen.css">

    <link rel="stylesheet" href="~/css/create-product.css" />
</head>

<body class="bg-dark">
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="bg-dark" style="height: 60px; padding: 5px;">
            <h3 class="text-light" style="text-align: center;">Create new product!</h3>
        </div>
        <div class="container bg-dark">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-6 bg-light boxStyle">
                    <form method="post" enctype="multipart/form-data" asp-controller="Products" asp-action="Create">

                        <div class="form-group">
                            <div class="width30 floatL"><label>Title</label></div>
                            <div class="width70 floatR">
                                <input asp-for="Title" class="width100 form-control">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div><br><br>

                            <div class="width30 floatL"><label>Image</label></div>
                            <div class="width70 floatR">
                                <input asp-for="Image">
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div><br><br>

                            <div class="width30 floatL"><label>Price</label></div>
                            <div class="width70 floatR">
                                <input asp-for="Price" class="width100 form-control">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div><br><br>

                            <div class="width30 floatL"><label>Description</label></div>
                            <div class="width70 floatR">
                                <textarea asp-for="Description" class="width100 form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div><br><br>
                            <br />
                            <br />

                            <div class="form-group">
                                <div class="row">
                                    <div class="width50">
                                        <input class="btn btn-success" type="submit" value="Create" style="font-weight: bold">
                                    </div>
                                    <div class="width50">
                                        <input class="btn btn-danger" type="reset" style="font-weight: bold">
                                    </div>
                                </div>
                            </div>

                            <div>
                                <a class="btn btn-primary" asp-controller="Products" asp-action="ProductPage">Back to Products</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/owl.js"></script>
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/isotope.js"></script>
    <script src="~/assets/js/accordions.js"></script>


    <script language="text/Javascript">

        cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
        function clearField(t) {                   //declaring the array outside of the
            if (!cleared[t.id]) {                      // function makes it static and global
                cleared[t.id] = 1;  // you could use true and false, but that's more typing
                t.value = '';         // with more chance of typos
                t.style.color = '#fff';
            }
        }
    </script>


</body>

</html>
